---
import Hexagon from '@/components/Hexagon.astro';
import textSvg from '@/assets/svg/text.svg?raw'

interface Props {
  href: string
  type?: 'tel' | 'email'| 'other'
  text: string
}
const {
href,
type = 'other',
text
  } = Astro.props;

  let formattedLink = href;
  switch(type){
    case 'tel':
      formattedLink = `tel:${href}`
      break;
    case 'email':
    formattedLink = `mailto:${href}`
    break;
  }

  const linkBG = '#191c1c'
  const linkText = 'var(--root-popTwo)'
  const linkTextShift = 'var(--root-popOne)';
  const buttonBG = 'var(--root-popOne)'
  const buttonText = '#003737'
  const buttonBorder = 'var(--root-popTwo)'
  const svgColor = 'var(--root-backgroundColor)'
  const svgColorShift = 'var(--root-popOne)';
  const svgAccent = 'white'
  const underlineColor = 'var(--root-popTwo)';
  const underlineColorShift = 'var(--root-popOne)';
---
<Hexagon isOutlined>
  <hex-contact class:list={['wrapper']} data-href={href}>
    <a class:list={['link', 'text-3xl']} href={formattedLink}>
        <div class:list={['svgText']}>
          <Fragment set:html={textSvg}/>
          <div class:list={['text']}>
            {text}
          </div>
        </div>
      </a>
      <div  class:list={['copy', 'text-2xl']}>
      <button>        
         copy
      </button>
      </div>
  </hext-contact>
</Hexagon>

<script>
  import ContactHex from './ContactHex.ts';
  customElements.define('hex-contact', ContactHex);
</script>

<style
  lang="scss"
  define:vars={{
      linkBG,
      linkText,
      linkTextShift,
      buttonBG,
      buttonText,
      buttonBorder,
      svgColor,
      svgColorShift,
      svgAccent,
      underlineColor,
      underlineColorShift,
  }}
>
  .wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 25%;
    --darkBlue:rgba(2,0,36,1);

    .link {
      /*background: rgb(2,0,36);
      background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 56%, rgba(0,212,255,1) 100%); 
       */
      --radialCenter: rgba(0,213,255,1);
      --radientBackground: radial-gradient(circle at 50% 140%, var(--radialCenter) 25%, rgba(5,5,126,1) 73%, var(--darkBlue) 100%); 

      background: var(--linkBG);
      color: var(--linkText);
      display: flex;
      height:100%;
      align-items:center;
      justify-content: center;
      /* necessary for container query below */
      container-type: inline-size;
      --iconXMargin: 8px;
      --iconSecondaryColor: var(--svgAccent);
      /*needs to be currentColor for the shift*/
      --iconPrimaryColor: currentColor;
      /**
       * move this to a utility class or something
      */
      &:hover, &:focus {
        .svgText{
          color: var(--linkTextShift);
          .text::before {
            width: calc(100% - var(--iconWidth));
            @container (min-width: 210px){ 
              width: calc(calc(100% + calc(2 * var(--iconXMargin))) + var(--iconWidth));
            }
            transform: scaleY(1);
            background-color: var(--underlineColorShift);
          }
          :global(svg){
            transition: all 0.3s ease-in-out 0s;
            color: var(--svgColorShift);
            /* color: var(--radialCenter) */
          /* --iconPrimaryColor: var(--radialCenter); */
          }
        }
      }
      .svgText {
        position: relative;
        text-decoration: none;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        gap:var(--iconXMargin);
        --iconWidth: 1.5rem;
        .text{
          position:relative;
          display: flex;
          justify-content: center;
          &::before {
            width:60%;
            bottom: -4px;
            content: "";
            position: absolute;
            height: 0.3rem;
            /* right: 0; */
            background-color: var(--underlineColor);
            transform: scaleY(0.5);
            transition: all 0.3s ease-in-out 0s;
          }
        }
        @container (min-width: 210px){
          --iconWidth: 2rem;
          flex-direction: row;
          .text::before{
            /* width: calc(calc(100% - var(--iconWidth)) - calc(var(--iconXMargin) * 2)); */
            width: 100%;
            right:0
          }
        }
      }
      :global(svg) {
        margin: 0 var(--iconXMargin) 0 0;
        width: var(--iconWidth);
        height: var(--iconWidth);
      }
    }
    .copy {
      --pink: rgb(216,0,255);
      border-top: 4px solid var(--hexBorderColor);
      /* border-top: 4px solid var(--root-popOne); */
      /* background:radial-gradient(farthest-corner at 50% 160%,var(--darkBlue) 55%, #230390  70%,var(--pink) 100%) ;  */
      background-color: var(--buttonBG);
      color: var(--buttonText);
      border-radius: 100%;
      margin-top: -15%;
      width: 120%;
      justify-self: center;
      display: flex;
      align-items:center;
      justify-content:center;
      cursor: pointer;
      z-index:1;

      button {
        justify-self: center;
      }
    }
  }
</style>
