---
import type {Role} from '@/data/resume';
import DateRange from './DateRange.astro';

interface Props {
  role: Role,
  liClasses?:string[]
  classes?: string[]
}
const {
  role:{
    title,
    startDate,
    endDate,
    accomplishments,
  },
liClasses = [],
classes = []
}= Astro.props;

const accompAccentColor = '#C70A80';
const roleAccentColor = '#fcd000';
const tickWidth = '2ch';
---
<li class:list={[...liClasses,...classes]}>
  <ul>
    <li class:list={[
      ...liClasses,
      "role"
      ]}>
      <h5>
        <span class:list={['text-xl', 'font-semibold']}>
          {title}
        </span>
        <DateRange startDate={startDate} endDate={endDate}/>
      </h5>
      <ul class:list={["flex", "flex-col", "accomplishmentList", "space-y-3",...liClasses]}>
        {accomplishments.map(accomplishment => (
          <li
            class:list={[
              ...liClasses,
              "accomplishment",
            ]}
            >
            {accomplishment}
          </li>
        ))}
      </ul>
    </li>
  </ul>
</li>

<style define:vars={{
  roleAccentColor,
  accompAccentColor,
  tickWidth
  }}>

  .role{
    border-left: 1px solid var(--roleAccentColor);
    position: relative;
    padding-left: var(--tickWidth);
  }
  .role::before{
    content:"";
    position: absolute;
    top: 0;
    height:2px;
    width:var(--tickWidth);;
    left:0;
    display:block;
    background-color: var(--roleAccentColor);
  }
  .role:last-child::after{
    content:"";
    position: absolute;
    bottom: 0;
    height:2px;
    width:var(--tickWidth);
    left:0;
    display:block;
    background-color: var(--roleAccentColor); 
  }

  .accomplishmentList{
    border-left: 2px solid var(--accompAccentColor); 
  }
  .accomplishment{
    position:relative;
  }
  .accomplishment::before{
    content:"";
    position: absolute;
    top: 0;
    height:2px;
    width:var(--tickWidth);
    left:-0.75rem;
    display:block;
    background-color: var(--accompAccentColor);
  }
  .accomplishment:last-child::after{
    content:"";
    position: absolute;
    bottom: 0;
    height:2px;
    width:var(--tickWidth);
    /* offset the margin from tailwind */
    left:-0.75rem;
    display:block;
    background-color: var(--accompAccentColor); 
  }
</style>