---
import {getCollection} from 'astro:content';
const devBlogs = await getCollection('dev');
 /*TODO:  CAUTION YOU WILL NEED TO UPDATE THE BASE 
  https://docs.astro.build/en/guides/deploy/github/
*/
---
<div
  class:list={[
   'container',
   'mx-auto',
   'wrapper' 
  ]}
>
  <ul 
    class:list={[   
      'text-xl',
      'leading-relaxed',
    ]}
  >
    {
      devBlogs.map(blogPostEntry => (
        <li>
          <a href={blogPostEntry.slug}>
            <h2 class:list={['text-3xl']}>
              {blogPostEntry.data.title}
            </h2>
            <time datetime={blogPostEntry.data.publishDate.toISOString()}>
              {blogPostEntry.data.publishDate.toDateString()}
            </time>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .wrapper{
    :global(h2){
      font-weight: bold;
      /* font-size: 2rem; */
    }
    :global(p){
      margin: 8px 0;
      
    }
  }
</style>
---
