---
import {getCollection} from 'astro:content';
const devBlogs = await getCollection('dev');
---
<div
  class:list={[
   'container',
   'mx-auto',
   'wrapper' 
  ]}
>
  <ul 
    class:list={[   
      'text-xl',
      'leading-relaxed',
    ]}
  >
    {
      devBlogs.map(blogPostEntry => (
        <li>
          <a href={blogPostEntry.slug}>{blogPostEntry.data.title}</a>
          <time datetime={blogPostEntry.data.publishDate.toISOString()}>
            {blogPostEntry.data.publishDate.toDateString()}
          </time>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .wrapper{
    :global(h2){
      font-weight: bold;
      font-size: 3rem;
    }
    :global(p){
      margin: 8px 0;
      
    }
  }
</style>
---
