---
import HomeLayout from '../layouts/Home.astro';
import Layout from '../layouts/Layout.astro';
import Section from'../components/Section.astro';
import ListItem from'../components/ListItem.astro';
import ParallelLi from '@/components/ParallelLi.astro';
import sosiGlasses from '../assets/photos/sosi_glasses.jpg'
import bedHead from '../assets/photos/bed_head.PORTRAIT.jpg'
import noisySVG from '../assets/svg/noisy.svg';
import Hexagon from '@/components/Hexagon.astro';
import Joke from '@/components/Joke';
import ContactHex from '@/components/ContactHex/ContactHex.astro';
import HexGrid from '@/components/HexGrid.astro';
import ParallelUl from '@/components/ParallelUl.astro';

const svgUrl = `url(${noisySVG})`
const techSkew = 30;
const positiveSkew = `${techSkew}deg`
const negativeSkew = `-${techSkew}deg`
---

<Layout classes={["homePage"]}>
  <div class:list={["text-xl"]}>
    <HomeLayout >
      <ListItem>
        <div class:list={['devSection',]}>
          <div class:list={["gradientSvg"]}/>
        <Section noun='a Dev'>
          <div class:list={["devBody", "leading-relaxed"]}>
              <p>
                Currently a team lead focused on <b>accessibility</b> and <em>Design Systems</em>, I have
                10+ years of fullstack experience in the industry, with a majority
                of that time in EdTech and healthcare startups.
                I have a passion for teaching (and learning) and love getting things pixel perfect.
                The last 4 years has been a mix of building a Design system from the ground up, maintainging
                a component library repo (coding, managing releases, planning, deploying etc), and educating
                fellow engineers on best practices and accessibility first desgin.
                I also have two bachelors
                degrees, (CS and Italian Studies. Feel free to quiz me on Italian cinema
                from the 1950-60's).
              </p>
              <br/>
              <section>
                <h4 class:list={["text-3xl"]}> Tech I love</h4>
                <ParallelUl>
                  <ParallelLi>Typescript</ParallelLi> 
                  <ParallelLi>React</ParallelLi> 
                  <ParallelLi>Redux</ParallelLi> 
                  <ParallelLi>Next</ParallelLi> 
                  <ParallelLi>Graphql</ParallelLi> 
                  <ParallelLi>Node</ParallelLi> 
                  <ParallelLi>Docker</ParallelLi> 
                  <ParallelLi
                    href="https://storybook.js.org/"
                  >
                    Storybook
                  </ParallelLi> 
                  <ParallelLi
                    href="https://redwoodjs.com/"
                  >
                    Redwood.js
                  </ParallelLi> 
                  <ParallelLi>Astro</ParallelLi> 
                  <ParallelLi>HTML & CSS</ParallelLi> 
                  <ParallelLi>neovim</ParallelLi> 
                  <ParallelLi
                    href="https://amzn.github.io/style-dictionary/#/"
                  >
                    StyleDictionary
                  </ParallelLi> 
                  <ParallelLi href="./dev/cv">And more!</ParallelLi> 
                </ParallelUl>
              </section>
              <br/>
              <section>
                <h4 class:list={["text-2xl"]}>Tech I know</h4>
                <ParallelUl direction='right'>
                  <ParallelLi>Webpack</ParallelLi> 
                  <ParallelLi>Python</ParallelLi> 
                  <ParallelLi>Django</ParallelLi> 
                  <ParallelLi>Ruby</ParallelLi> 
                  <ParallelLi>Ruby on Rails</ParallelLi> 
                  <ParallelLi>Ocaml</ParallelLi> 
                  <ParallelLi>SQL</ParallelLi> 
                  <ParallelLi href="./dev/cv">And a lot more!</ParallelLi> 
                </ParallelUl>
              </section>
              <br/>
              <div>
                <h4 class:list={["text-3xl"]}>Want to learn more?</h4>
                <a
                  href="./dev/cv"
                  class="standardLink"
                >
                    Check out my <span class="highlight">Resume</span>
                </a>
                <br/>
                <a
                  href="./dev/blog"
                  class="standardLink"
                >
                  I also write about tech stuff <span class="highlight">sometimes</span>
                </a>
              </div>
          </div>
        </Section>
        </div>
      </ListItem>	
      <ListItem>
        <Section noun='a Dad'>
          <Joke
            client:visible
            setup="hey"
            punchline="there"/>
        </Section>
      </ListItem>	
      <ListItem>	
        <Section noun='around'>
          <HexGrid>
            <Hexagon
              imgSrc={sosiGlasses}
              imgAlt="baby wearing sunglasses, sitting in father's lap"
            />
            <ContactHex
              type="tel"
              href="612-741-1838"
              text="call or text"
              />
            <Hexagon 
              imgSrc={bedHead}
              imgAlt="Fatehr and daughter both have bed head and look confussed"
            />
            <ContactHex
              type="email"
              href="john.nissenhooper@gmail.com"
              text="email me"
            />
          </HexGrid>
        </Section>
      </ListItem>
    </HomeLayout>
    </div>
</Layout>

<style is:global>
  :root {
    --root-transition:all 0.3s ease-in-out 0s;
    --root-backgroundColor: #191c1c;
    --root-backgroundAccent: gray;
    --root-popOne: #15d4d4;
    /* --root-popTwo: #C70A80; */
    --root-popTwo: #cfbcff;
    /**
     * blue yellow pink
     **/
    /* --root-backgroundColor: #072448; */
    /* --root-accentOne: #54d2d2; */
    /* --root-accentTwo: #f8aa4b; */
    /* --root-popOne: #ffcb00; */
    /* --root-popTwo: #ff6150; */

    /* blue yellows */
    /*
    --root-backgroundColor: #1a1b4b;
    --root-accentOne: #292a73;
    --root-accentTwo: #3e4491;
    --root-popOne: #3a9efd;
    --root-popTwo: #f7a400;

     */

    /* --root-backgroundColor: #1f306e; */
    /* --root-accentOne: #553772; */
    /* --root-accentTwo: #8f3b76; */
    /* --root-popOne: #c7417b; */
    /* --root-popTwo: #f5487f; */

  }
</style>
<style lang="scss" define:vars={{
	svgUrl,
  positiveSkew, 
  negativeSkew, 
}}>
	html.homePage{
		/* background-color: black; */
    background-color: var(--root-backgroundColor);
		color: white;
	}
	main {
		margin: auto;
	}
	.devSection{
		/* padding-top:20px; */
		position:relative;
		/* color:black; */
		width:100%;
		height:100%;
		.devBody{
			/* background-color: #07ffff; */
			margin-top:0px;
			height:100%;
		}
	}

  .standardLink {
    position: relative;
    display: inline-block;
    --spacing: 8px;
    padding: var(--spacing) 0;
    &::before {
      position: absolute;
      content:"";
      width: 0%;
      height:2px;
      background-color: var(--root-popTwo);
      bottom: 0;
      right: 0;
      transition: var(--root-transition);
    }
    &:hover,&:focus{
      &::before {
        width: 100%;
      }
      .highlight::before{
        opacity:0;
      }
    }
    .highlight {
      position:relative;
      &::before {
        position: absolute;
        content:"";
        width: 100% ;
        height:2px;
        background-color: var(--root-popOne);
        bottom: calc(calc(0px - var(--spacing)) - 2px);
        right:0;
        opacity:1;
        transition: var(--root-transition);
      }
    }
  }

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
